@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Golos+Text&family=Raleway:wght@300&display=swap");

::-webkit-scrollbar {
  @apply w-0;
}

* {
  font-family: "Golos Text", sans-serif;
  scroll-behavior: smooth;
}

html {
  scroll-padding-top: 5rem;
}

li {
  @apply text-lg uppercase font-bold text-secondary duration-300;
}

.link__current {
  @apply relative text-primary;
}

.link__current::after {
  position: absolute;
  bottom: -12px;
  right: 50%;
  width: 8px;
  height: 8px;
  background: #4c1d95;
  transform: rotate(-135deg);
  border-radius: 0 10px 50px 0;
  content: "";
  transition: all 0.3s;
}

h1 {
  @apply font-bold tracking-wide uppercase;
}

p {
  @apply text-xl;
}

button {
  @apply uppercase hover:bg-violet-900 duration-300;
}

.Button {
  @apply flex gap-x-2 px-4 py-2 border-2 border-primary drop-shadow-lg hover:bg-primary text-primary hover:text-white duration-300;
}

span {
  @apply font-extrabold text-secondary uppercase;
}

.BorderImg {
  border-bottom: 4px solid white;
  border-image-source: radial-gradient(
    circle at top left,
    #6c63ff,
    transparent 50%
  );
  border-image-slice: 1;
}
